[Unit]
Description=Zillmon
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
Restart=on-failure
WorkingDirectory=/home/ubuntu/zillmon
ExecStart=/home/ubuntu/.local/bin/pipenv run python /home/ubuntu/zillmon/main.py
SyslogIdentifier=zillmon

[Install]
WantedBy=multi-user.target
