[Unit]
Description=Zillmon
Wants=network-online.target
After=network-online.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
Restart=on-failure
ExecStart=/home/ubuntu/.local/bin/pipenv run python main.py
[Install]
WantedBy=multi-user.target
